@import '../../variables/variables.scss';

.button-container{
    background-color: $main-color;
    cursor: pointer;
	color: inherit;
	border: none;
	padding: 3px 10px;
    font: inherit;
    margin: auto;
    height: 50px;
    width: 90%;
    h4{
        font-family: $main-font;
        font-size: 18px;
    }
};